/* general */
.container_small {
  width: 1000px;
}

/* utilities */
section:not(.slogan) {
  margin-top: 50px;
}

ul li a {
  text-decoration: none;
  color: black;
}

.lista_inlineBlock li{
  display: inline-block;
  padding: 5px;
}

.link {
  padding: 15px;
}

.box {
  background-color: violet;
}

/* tipografia */

.text_center {
  text-align: center;
}

.text_white {
  color: white;
}

/* HEADER */
header .container_small {
  line-height: 50px;
  font-size: 10px;
  position: relative;
}

header .container .nav_sx img {
  position: relative;
  top: 10px;
}
/* header .container_small nav ul li {
  display: inline-block;
  padding: 5px;
} */

header .container_small nav ul li a {
  text-transform: uppercase;
}

header .container_small .col-lg-2 img {
  width: 80px;
  position: absolute;
  top: 40%;
  left: 0;
}


/* MAIN */

/* sezione slogan */
main .slogan {
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
}
main .slogan .container{
  height: 550px;
  position: relative;
}

main .slogan .container .frase {
  position: absolute;
  top: 30%;
  left: 30%;
  right: 30%;
}

/* sezione Helbiz prodotti */
main .Helbiz_prodotti .E-Helbiz .box {
  background-color: #fafafa;

}

main .Helbiz_prodotti .E-Helbiz h2 {
  padding: 20px;
  padding-top: 50px;
}

main .Helbiz_prodotti .E-Helbiz img {
  height: 350px;
}


/* sezione: cubi */
main .cubi .cubo_up {
  margin-bottom: 15px;

}

main .cubi .cubo_up .box{
  height: 420px;
  background-image: url("../img/scooter-bg.jpg");
  background-size: cover;
  position: relative;
}


main .cubi .cubo_up .testo {
  width: 400px;
  padding-left: 90px;
  padding-right: 90px;
  position: absolute;
  top: 30%;
  right: 100px;
  background-color: green;
  /* margin-top: 150px; */
}

main .cubi .cubo_sxdx .box {
  height: 350px;
  position: relative;
  margin-top: 15px;
}

main .cubi .cubo_sxdx .box img {
  width: 400px;
  position: absolute;
  bottom: 0;
  left: 15%;
}

main .cubi .cubo_sxdx .box .titolo {
  padding-top: 20px;
}

main .cubi .cubo_sxdx:last-child .box {
  background-image: url("../img/cities.jpg");
  background-size: cover;
}





/* RESPONSIVE */
/* SX display */
@media screen and (max-width: 767px) {
  header {
    text-align: center;
  }

  main .slogan .container .frase {
    position: absolute;
    right: 10%;
    left: 10%;
  }

  main .Helbiz_prodotti .container .E-Helbiz:last-child {
    margin-top: 20px;
  }
}

/* MD display */
@media screen and (min-width: 768px) {
  header {
    text-align: center;
  }
}
